@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  html,
  body,
  #root {
    @apply min-h-svh;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-manrope);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-inter);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
